<ion-header>
    <ion-toolbar color="primary ">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>My Navigation Bar</ion-title>
    </ion-toolbar>
    </ion-header>
  
  <ion-content>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-form>
  <h2 margin>Signup form</h2>
  <p margin>Fill the form to create a new account</p>
            <ion-item>
              <ion-input type="text" [(ngModel)] = "user.userName" placeholder="User name" name="user name" ngDefaultControl></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-input type="password"  [(ngModel)] = "user.pwd" placeholder="Password" name="pwd" ngDefaultControl></ion-input>
              
            </ion-item>
            <ion-item>
                <ion-input type="password"  [(ngModel)] = "user.pwd" placeholder="Confirm password" name="pwd" ngDefaultControl></ion-input>
                
              </ion-item>
  
            <ion-button margin ion-button type="submit" block>Signup</ion-button>
          </ion-form>
        </ion-card>
  
        
      </ion-col>
    </ion-row>
  </ion-content>